.Rproj.user
.Rhistory
.RData
.Ruserdata
.pdf
.tex
!preamble.tex
.md
!README.md
/_book/
/.quarto/
/acceleration_cache/
/acceleration_files/
/constrained_cache/
/constrained_files/
/full_cache/
/full_files/
/global_cache/
/global_files/
/intervaL_cache/
/interval_files/
/inverse_cache/
/inverse_files/
/minimization_cache/
/minimization_files/
/properties_cache/
/properties_files/
/spaces_cache/
/spaces_files/
/splinical_cache/
/splinical_files/
/sstress_cache/
/sstress_files/
